.con{
    text-align: center;
    width: 100%;
    height: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.con input{
    width:50%;
    height: 50px;
    border-radius: 30px;
    padding-left: 10px;
}