body{
    background-image: url("https://assets.cntraveller.in/photos/62975dd66a6d562435831f90/16:9/w_1920,h_1080,c_limit/new-restaurants-delhi-lead.jpg");
}
.homeTitle{
    color: aliceblue;
    text-align: center;
}
.Search{
    text-align: center;
    width: 100%;
    height: 90%;
}

.Search input{
    width: 600px;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding-left: 15px;
    font-size: large;
}

.Nigga{
    text-align: center;
    margin-top: 50px;
    display:flex;
    justify-content: center;
}
.Nigga input{
    margin: 20px;
    height: 30px;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 0.8em;
    border-radius: 2em;
}